@import './src/css/styles';


.combo-box {
  appearance: none;
  border: $color-warmGrey solid 1px;
  box-sizing: border-box;
  outline: none;
  padding: 5px;
}

.combo-box-opened {
  border-radius: 8px 8px 0 0;
}

.combo-box-closed {
  border-radius: 8px;
}

.chevron {
  cursor: pointer;
  margin-left: -2rem;
  outline: none;
  position: absolute;
}

ul {
  background-color: #fff;
  border: $color-warmGrey solid 1px;
  border-radius: 0 0 8px 8px;
  border-top-style: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 100;

  li {
    align-items: center;
    border-bottom: $color-warmGrey solid 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 2.68rem;
    justify-content: center;
    padding: 1px 2px;
    width: 100%;
  }
}
