@import './src/css/styles';

.combo-box {
  .box-input {
    appearance: none;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    outline: none;
    padding: 5px;
  }

  .box-valid {
    border-color: $color-warmGrey;
  }

  .box-invalid {
    border-color: $color-red;
  }

  .box-input[disabled] {
    background-color: $color-white;
    color: $color-warmGrey;
  }

  .opened {
    border-radius: 8px 8px 0 0;
  }

  .closed {
    border-radius: 8px;
  }

  .chevron {
    cursor: pointer;
    margin-left: -2rem;
    outline: none;
    position: absolute;
  }

  ul {
    background-color: $color-white;
    border: $color-warmGrey solid 1px;
    border-radius: 0 0 8px 8px;
    border-top-style: none;
    box-shadow: 0 5px $color-white;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;

    li:not(:first-child) {
      border-top: $color-warmGrey solid 1px;
    }

    li {
      box-sizing: border-box;
      color: $color-warmGrey;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 2.68rem;
      justify-content: center;
      padding: 1px 2px;
      vertical-align: middle;
      width: 100%;
    }
  }
}
