.landing {
	#content {
		display: flex;
		flex-direction: row;
		width: 100vw;
		justify-content: space-around;
		align-items: center;
		padding-top: 5.3333335rem;
	}
	#landigpage-image {
		padding: 0 1rem;
	}
	#text-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: #0b132b;
		justify-content: center;
		width: 50%;
		padding: 0 1rem;
		a {
			text-decoration: none;
			color: #687d9a;
			transition: all 0.2s;
		}
		a:hover {
			color: #5bc0be;
		}
		a:focus {
			outline: none;
		}
	}
	#text-content h2 {
		font: Bold 4.5333333rem/7.3333335rem Hind Siliguri;
		margin-bottom: 1rem;
		padding: 0;
	}
	#text-content h5 {
		font: Bold 1.6666666rem/3.3333333rem Hind Siliguri;
		padding: 0;
		margin: 0;
	}
	#text-content h4 {
		font: Bold 2.3333333rem/3.8rem Hind Siliguri;
		padding: 0;
		margin: 0;
	}

	.react-modal-body {
		top: -10%;
		width: auto !important;
		.react-modal-body-close {
		}
	}
}
