#content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
#landigpage-image {
    padding: 0 1rem;
}
#text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #0b132b;
    justify-content: center;
    width: 50%;
    padding: 0 1rem;
}
#text-content h2 {
    font: Bold 68px/110px Hind Siliguri;
    margin-bottom: 1rem;
    padding: 0;
}
#text-content h4 {
    font: Bold 35px/57px Hind Siliguri;
    padding: 0;
    margin: 0;
}

.react-modal-body {
    width: auto !important;
    .react-modal-body-close {
        display: none;
    }
}
