@import './src/css/styles';

.landing {
  height: 100%;

  .content {
    align-items: center;
    background-image: url('/assets/landing-background.svg');
    background-repeat: no-repeat;
    background-size: 100vw 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    min-height: calc(100vh - 5.375rem - 6.813rem);
    position: relative;
    width: 100vw;

    .hero-image {
      width: 30%;
    }

    .text-content {
      align-items: flex-start;
      color: #0b132b;
      display: flex;
      flex-direction: column;
      font-size: 2.5rem;
      justify-content: center;
      padding: 0 1rem 0 3rem;
      width: 30%;

      @media (max-width: 1500px) {
        width: 40%;
      }

      span {
        color: $color-turquoise;
      }

      h2 {
        margin: 0;
        padding: 0;

        @media (max-width: 1500px) {
          font-size: 3rem;
        }
        @media (max-width: 800px) {
          font-size: 2.3rem;
        }
      }

      h4 {
        font-size: 1.5rem;
        font-weight: normal;
        margin: 0;
        padding: 0;
        width: 30vw;
        @media (max-width: 1500px) {
          font-size: 1.2rem;
        }
        @media (max-width: 800px) {
          font-size: 1rem;
        }

      }

      a {
        color: #687d9a;
        text-decoration: none;
        transition: all 0.2s;
      }

      a:hover {
        color: #5bc0be;
      }

      a:focus {
        outline: none;
      }

    }
  }

  .text-content .title {
    font: Bold 68px/110px Hind Siliguri;
    margin-bottom: 1rem;
    padding: 0;
  }

  .text-content h5 {
    font: Bold 1.6666666rem/3.3333333rem Hind Siliguri;
    margin: 0;
    padding: 0;
  }

  .text-content .text {
    font: Bold 25px/45px Hind Siliguri;
    margin: 0;
    padding: 0;
  }

  .react-modal-body {
    top: -10%;
    width: auto !important;
  }
}
