.resultContentHeader{
    width:100%;
    .resultLeft{
        margin-left:12.666667rem;

        .resultSubject{
            margin-right:2.6666667rem;
            margin-top:2.2666667rem;
            font-weight: bolder;
            color: #0B132B;
            font-size: 4.0rem;
        }
    }

        .Middle{
            display: flex;
            align-items: center;
            justify-content: center;
            
        .resultCenter{

            .resultSubject{
                margin-right:2.6666667rem;
                margin-top:2.2666667rem;
                font-size: 1.3333334rem;
                display:flex;

                .icon{
                    margin-right: 0.5rem;
                }                
                .points{
                    color: #3A506B;
                }
            
            }
        }
    }
        .resultRight{
            margin-right:7.266667rem;
            .resultSubject{
                margin-right:2.6666667rem;
                margin-top:2.2666667rem;
                font-weight: bolder;
                color: #0B132B;
                font-size: 4.0rem;
                #input-search {
                    width: 26.066668rem;
                    height: 2.8666666rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border: 0.06666667rem solid #3A506B;
                    border-radius: 0.53333336rem;
                    div{
                        padding: 0 0.5rem;
                        padding-bottom: 0.33333334rem;
                    }
                }
                input{
                    width: 26.066668rem;
                    height: 2.8666666rem;
                    background: transparent;
                    opacity: 1;
                    border: none;
                    text-align: left;
                    font-size: 1.3333334rem;
                    letter-spacing: 0;
                    color: #3A506B;
                    opacity: 1;
                }
                input:focus{
                    outline: none;
                }
            }
        }
    

}
.Tasklist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .teacher_information{
        img{
            max-width: 7.3333335rem;
            max-height: 7.3333335rem;
            border: 0.13333334rem solid #5BC0BE;
            border-radius: 6.6666665rem;
        }
    }
    .Task{
        display: flex;
        flex-direction: column;
        margin:0.6666667rem;
        height: 11.3333334rem;
        width: 970.33333334rem;
        border: 0.06666667rem solid #707070;
        border-radius: 0.53333336rem;
        .Task_Head{
            margin: 0 1rem;
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .Task_Head_Elements{
                display: flex;
                flex-direction: row;
                .Task_element{
                    display: flex;
                    flex-direction: row;
                    padding: 0 1rem;
                }
            }
            span{
                padding: 0 0.3rem;
            }
        }
        .Task_Bottom{
            margin: 0 1rem;
            display: flex;
            flex-direction: row;
        }
    }
}


