@import './src/css/styles';

.result-content-header {
  width: 100%;

  .result-left {
    margin-left: 12.667rem;

    .result-subject {
      color: #0b132b;
      font-size: 4rem;
      font-weight: bolder;
      margin-right: 2.667rem;
      margin-top: 2.267rem;
    }
  }

  .middle {
    align-items: center;
    display: flex;
    justify-content: center;

    .result-center {
      .result-subject {
        display: flex;
        font-size: 1.333rem;
        margin-right: 2.667rem;
        margin-top: 2.267rem;

        .icon {
          margin-right: 0.5rem;
        }

        .points {
          color: #3a506b;
        }

      }
    }
  }

  .result-right {
    margin-right: 7.267rem;

    .result-subject {
      color: #0b132b;
      font-size: 4rem;
      font-weight: bolder;
      margin-right: 2.667rem;
      margin-top: 2.267rem;

      

      input {
        background: transparent;
        border: 1px solid #3a506b;
        border-radius: 8px;
        color: #3a506b;
        font-size: 1.333rem;
        height: 2.867rem;
        letter-spacing: 0;
        opacity: 1;
        opacity: 1;
        padding: 0 0.5rem;
        text-align: left;
        width: 26.067rem;
      
      }

      input:focus {
        outline: none;
      }
    }
  }

}

.task-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .teacher-information {
    img {
      border: 0.133rem solid #5bc0be;
      border-radius: 6.667rem;
      max-height: 7.333rem;
      max-width: 7.333rem;
    }
  }
}


