.resultContentHeader {
    width: 100%;

    .resultLeft {
        margin-left: 12.666667rem;

        .resultSubject {
            color: #0B132B;
            font-size: 4.0rem;
            font-weight: bolder;
            margin-right: 2.6666667rem;
            margin-top: 2.2666667rem;
        }
    }

    .Middle {
        align-items: center;
        display: flex;
        justify-content: center;

        .resultCenter {

            .resultSubject {
                display: flex;
                font-size: 1.3333334rem;
                margin-right: 2.6666667rem;
                margin-top: 2.2666667rem;

                .icon {
                    margin-right: 0.5rem;
                }

                .points {
                    color: #3A506B;
                }

            }
        }
    }

    .resultRight {
        margin-right: 7.266667rem;

        .resultSubject {
            color: #0B132B;
            font-size: 4.0rem;
            font-weight: bolder;
            margin-right: 2.6666667rem;
            margin-top: 2.2666667rem;

            #input-search {
                align-items: center;
                border: 0.06666667rem solid #3A506B;
                border-radius: 0.53333336rem;
                display: flex;
                flex-direction: row;
                height: 2.8666666rem;
                width: 26.066668rem;

                div {
                    padding: 0 0.5rem;
                    padding-bottom: 0.33333334rem;
                }
            }

            input {
                background: transparent;
                border: none;
                color: #3A506B;
                font-size: 1.3333334rem;
                height: 2.8666666rem;
                letter-spacing: 0;
                opacity: 1;
                opacity: 1;
                text-align: left;
                width: 26.066668rem;
            }

            input:focus {
                outline: none;
            }
        }
    }

}

.Tasklist {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .teacher_information {
        img {
            border: 0.13333334rem solid #5BC0BE;
            border-radius: 6.6666665rem;
            max-height: 7.3333335rem;
            max-width: 7.3333335rem;
        }
    }

    .Task {
        border: 0.06666667rem solid #707070;
        border-radius: 0.53333336rem;
        display: flex;
        flex-direction: column;
        height: 8.0rem;
        margin: 0.6666667rem;
        width: 65.0rem;

        .Task_Head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 1rem;
            margin-top: 1rem;

            .Task_Head_Elements {
                display: flex;
                flex-direction: row;

                .Task_element {
                    display: flex;
                    flex-direction: row;
                    padding: 0 1rem;
                }
            }

            span {
                padding: 0 0.3rem;
            }
        }

        .Task_Bottom {
            display: flex;
            flex-direction: row;
            margin: 0 1rem;
        }
    }
}


