@import './src/css/styles';

.result-question-box {
  border: 0.067rem solid #707070;
  border-radius: 0.533rem;
  display: flex;
  flex-direction: row;
  height: 8.4rem;

  .result-status-bar {
    border-bottom-left-radius: 0.533rem;
    border-top-left-radius: 0.533rem;
    padding: 8.4rem 0.533rem 0 0;
  }

  .result-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8rem;
    width: calc(100% - 0.8rem);

    .result-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .result-left-top {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p:first-child {
          margin-right: 1rem;
        }

        .result-question-label {
          color: $color-grey;
          font-size: 1.067rem;
          margin-top: 0;
          padding-top: 0;
        }

        .result-question-titel {
          color: #707070;
          font-size: 1.333rem;
          margin-top: 0;
        }
      }

      .result-right-top {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
          margin: 0 0.333rem;
        }

        .result-rating {
          color: $color-grey;
          font-size: 1.067rem;
          margin-top: 0;
        }

        .result-rating-icons {
          color: $color-grey;
          font-size: 1.066rem;
          margin-top: 0;
        }
      }
    }

    .result-bottom {
      color: $color-grey;
      display: flex;
      flex-direction: row;
      height: 2.667rem;
      justify-content: space-between;

      .result-left-bottom {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        height: 2.667rem;
        margin-bottom: 0;
        padding-bottom: 0;
        width: 50%;

        .result-my-answer {
          color: $color-grey;
          font-size: 1.067rem;
          margin-bottom: 0;
        }

        p:first-child {
          margin-bottom: 0;
          padding-bottom: 0;
          padding-right: 0.333rem;
        }
      }

      .result-right-bottom {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        height: 2.667rem;
        margin-bottom: 0;
        width: 50%;

        p:first-child {
          margin-bottom: 0;
          padding-bottom: 0;
          padding-right: 0.333rem;
        }

        .result-my-answer {
          font-size: 1.067rem;
          margin-bottom: 0;
        }

        .result-right-answer {
          font-size: 1.067rem;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
