$bluegrey: #0B132B;
$grey: #3A506B;
$red: #BA1919;
$warmGrey: #707070;
$turquoise: #5BC0BE;
$lightGrey: #687D9A;
$mediumBlue: #1C2541;
$lightBlue: #96B4DD;

.resultQuestionbox {
    border: 0.06666667rem solid #707070;
    border-radius: 0.53333336rem;
    display: flex;
    flex-direction: row;
    height: 8.4rem;

    .resultStatusBar {
        border-bottom-left-radius: 0.53333336rem;
        border-top-left-radius: 0.53333336rem;
        padding: 8.4rem 0.53333336rem 0 0;
    }

    .resultContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.8rem;
        width: calc(100% - 0.8rem);

        .resultTop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .resultLeftTop {
                align-items: baseline;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                p:first-child {
                    margin-right: 1rem;
                }

                .resultQuestionLabel {
                    color: $grey;
                    font-size: 1.0666667rem;
                    margin-top: 0;
                    padding-top: 0;
                }

                .resultQuestionTitel {
                    color: #707070;
                    font-size: 1.3333334rem;
                    margin-top: 0;
                }
            }

            .resultRightTop {
                align-items: baseline;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                img {
                    margin: 0 0.33333334rem;
                }

                .resultRating {
                    color: $grey;
                    font-size: 1.0666667rem;
                    margin-top: 0;
                }

                .resultRatingIcons {
                    color: $grey;
                    font-size: 1.0666667rem;
                    margin-top: 0;
                }
            }
        }

        .resultBottom {
            color: $grey;
            display: flex;
            flex-direction: row;
            height: 2.6666667rem;
            justify-content: space-between;

            .resultLeftBottom {
                align-items: baseline;
                display: flex;
                flex-direction: row;
                height: 2.6666667rem;
                margin-bottom: 0;
                padding-bottom: 0;

                width: 50%;

                .resultMyAnswer {
                    color: $grey;
                    font-size: 1.0666667rem;
                    margin-bottom: 0;
                }

                p:first-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    padding-right: 0.33333334rem;
                }
            }

            .resultRightBottom {
                align-items: baseline;
                display: flex;
                flex-direction: row;
                height: 2.6666667rem;
                margin-bottom: 0;
                width: 50%;

                p:first-child {
                    margin-bottom: 0;
                    padding-bottom: 0.0rem;
                    padding-right: 0.33333334rem;
                }

                .resultMyAnswer {
                    font-size: 1.0666667rem;
                    margin-bottom: 0;
                }

                .resultRightAnswer {
                    font-size: 1.0666667rem;
                    margin-bottom: 0;
                    padding-bottom: 0.0rem;
                }
            }
        }
    }
}
