.multiplechoice {
  .answer {
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 1.3rem;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 1279px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 1023px) {
      grid-template-columns: 1fr;
    }

    @media (min-width: 2300px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .add-answer {
    align-items: center;
    border: 0.133rem solid #1c2541;
    border-radius: 0.667rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-left: 1.3rem;
    padding: 5px; // to convert this to rem, change this also in TextInput.scss
    text-align: center;
    &:focus {
      outline: none; // Chrome
    }
  }
}
