.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  .Subjekt {
    width: 435px;
    height: 200px;
    border: 1px solid #707070;
    border-radius: 13px;
  }
  .flex-row{
    display: flex;
    flex-direction: row;
  }
}