.main{
    display: flex;
    flex-flow: row;
}
.sidebar{
    height: 100vw;
    width: 100px;
    left: 0;
    top: 0;
    background-color: #0B132B;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Menu{
    margin: 1rem 0;
}