.confirmation-box {
  align-items: center;
  background: #fff;
  border-radius: 0.267rem;
  color: #003;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  padding: 5%;

  .text {
    text-align: center;
  }
}
