@import './src/css/styles';

.menu-element:first-child {
  margin-top: 0;
}

.menu-element {
  align-items: center;
  color: #687d9a;
  flex-direction: column;
  line-height: 1.2em;
  margin: 0.6rem 0;
  text-decoration: none;
}

.menu-element:hover {
  cursor: pointer;
}

.menu-element:focus {
  outline: none;
}
