@import './src/css/styles';

.result-content-header {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .result-left {
    margin-left: 7.266667rem;

    .result-subject {
      color: #0b132b;
      font-size: 4rem;
      font-weight: bolder;
      margin-right: 2.6666667rem;
      margin-top: 2.2666667rem;
    }
  }
}

.favorite-certificate {
  text-align: center;
}

.profile-head {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .profile-h2 {
    color: #1c2541;
    font-size: 2rem;
    font-weight: 300;
  }

  .profile-span-padding-l {
    padding-left: 0.5rem;
  }

  .profile-span-padding-r {
    padding-right: 0.5rem;
  }

  .profile-flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 0;
  }

  .central {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5rem;
    white-space: nowrap;
 
    .img {
      margin-right: 0.4rem;
      max-width: 27px;
      stroke: #3a506b;

    }
  }

  .stat {
    color: #3a506b;
    font-size: 1.0666667rem;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 0.2%;
    opacity: 1;
    text-align: left;
  }

  .var-info {
    margin-left: 0.5%;
  }

  .name {
    color: #1c2541;
    font-size: 1.7333333rem;
    letter-spacing: 0;
    margin-left: 2.3rem;
    opacity: 1;
    text-align: center;

    input:focus {
      outline: none;
    }

    input:disabled {
      background: transparent;
      font-size: 1.3333334rem;
      text-align: center;
      width: 8rem;
    }

    input:enabled {
      background: transparent;
      
      font-size: 1.3333334rem;
      text-align: center;
      width: 8rem;
    }

    img {
      margin-left: 1rem;
    }

    img:hover {
      cursor: pointer;
      
    }
  }
}

.profile-levelbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4%;
  text-align: center;
  width: 100%;

  .levelbar-back {
    background-color: transparent;
    border: 0.06666667rem solid #707070;
    border-radius: 13.333333rem;
    height: 3.3333333rem;
    position: relative;
    width: 32.666668rem;

    .levelbar-front {
      background-color: #5bc0be;
      border-radius: 13.333333rem;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 17.79%;
      z-index: -2;
    }

    .levelbar-font {
      position: relative;
      text-align: center;
      z-index: 2;
    }

    .level-rang {
      color: #5bc0be;
      font: Bold 1.7333333rem/2.0666666rem Arimo;
    }
  }
}

.level-rank {
  align-items: center;
  display: flex;
  margin-top: 1rem;

  img {
    height: 1.8rem;
    margin-right: 0.8rem;
    width: 1.8rem;
  }

  span {
    color: #5bc0be;
    font: Bold 1.7333333rem/2.0666666rem Arimo;
    letter-spacing: 0;
    opacity: 1;
    text-align: left;
    text-transform: uppercase;
  }
}

.profile-subjekt-img {
  border: 0.06666667rem solid #5bc0be;
  border-radius: 6.6666665rem;

  height: 4.133333rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  width: 4.133333rem;
}

//TODO ist das hier wirklich notwendig? --> Prüfen
.logo {
  height: 2rem;
  padding: 1.0666667rem;
  width: 2rem;
}

.favorite-subject {
  text-align: center;

  .profile-favorite-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding: 0.33333334rem;
    text-align: left;
  }
}

.profile-certificate-box {
  display: flex;
  flex-basis: 31%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
  
}

.title {
  color: #0b132b;
  font-size: 2.4rem;
  letter-spacing: 0;
  opacity: 1;
  text-align: left;
  
}

.text {
  align-items: center;

  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.fach-info {
  text-align: left;
}

.pb {

  border: 2px solid #5bc0be;
  border-radius: 100px;
  max-height: 110px;
  max-width: 110px;
}

.user-icon,
.trending-icon,
.calender-icon {
  color: #3a506b;

}

.trending-icon {
  height: 30px;
}

.user-icon,
.calender-icon {
  height: 24px;
}
