@import './src/css/styles';

.lecture-group-wrapper {
  .lecture-group {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    @media (max-width: 1279px) {
      flex-direction: column;
    }

    .lecture-group-title {
      color: $color-grey;
      font-size: 1.7rem;
      width: 20%;
      @media (max-width: 1279px) {
        margin-bottom: 1rem;
        width: 100%;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }

    .lecture-group-subjects {
      display: grid;
      grid-column-gap: 1rem;
      grid-row-gap: 1.3rem;
      grid-template-columns: 1fr 1fr 1fr;
      width: 80%;
      @media (max-width: 1279px) {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
      }
      @media (max-width: 1023px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
        width: 70vw;
      }
      @media (max-width: 639px) {
        grid-template-columns: 1fr;
        width: 85vw;
      }

      @media (min-width: 2300px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
