.add-task {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.flex-row-box{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}