.add-task {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .flex-row-box {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  .add-question {
    align-items: center;
    border: 0.133rem solid #1c2541;
    border-radius: 0.667rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 5px; // to convert this to rem, change this also in TextInput.scss
    text-align: center;
    width: 80%;

    &:focus {
      outline: none; // Chrome
    }
  }
}
