@import './src/css/styles';

.page-layout {
  display: grid;
  grid-template-columns: 123px auto;
  grid-template-rows: 86px 1fr auto;
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;

  .header-navbar {
    grid-area: header;
  }

  .menu-bar {
    grid-area: sidebar;
    @media (max-width: 639px) {
      display: none;
    }
  }

  .layout-container {
    align-self: stretch;
    grid-area: content;
  }

  .footer-navbar {
    align-self: end;
    grid-area: footer;
  }
}

.logged-out {
  grid-template-areas: 'header header' 'content content' 'footer footer';
  @media (max-width: 639px) {
    grid-template-areas: 'header' 'content' 'footer';
    grid-template-columns: auto;
  }
}

.logged-in {
  grid-template-areas: 'header header' 'sidebar content';
  @media (max-width: 639px) {
    grid-template-areas: 'header' 'content';
    grid-template-columns: auto;
  }
}

.logged-in-hidden {
  display: none;
}
