.reportcontainer {
    padding: 5%;
    margin-top: 1rem;
    background: white;
    /*text-align: center;*/
    border-radius: 0.26666668rem;
    color: #000033;
    -moz-box-shadow: 0 0 0.6666667rem #888;
    -webkit-box-shadow: 0 0 0.6666667rem #888;
    box-shadow: 0 0 0.6666667rem #888;
    -o-box-shadow: 0 0 0.6666667rem #888;
}

.reportcontainer{
    .topInfos{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .subjectPath{
        font-size: 10.26666668rem;  
    }
/*Infos an der Rechten seite*/
    .InfosRight{
        text-align: right;
        font-size:10.26666668rem;
        width:49.5%;


        #likes{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            span{
                margin-left: 1.5rem;
                font: Regular 1.3333334rem/1.5333333rem Arimo;
                letter-spacing: 0;
                color: #3A506B;
                opacity: 1;
            }
            img{
                margin-left: 0.5rem;
                width: 1.3333334rem;
                height: 1.3333334rem;
            }
        }
        #teacher{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            img{
                margin-left: 0.5rem;
                width: 1.3333334rem;
                height: 1.3333334rem;
            }
        }
        #messages{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            img{
                margin-left: 0.5rem;
                width: 1.3333334rem;
                height: 1.3333334rem;
            }
        }
        
    }
/*Aufgaben Überschrift*/
    .TaskName{
        margin-top:0.33333334rem;
        text-align: center;
        font-size: 1.3333334rem;
    }
/*Aufgaben Text*/
    .TaskText{
        margin-top:0.4rem;
        max-height:6.6666665rem;
        font-size: 0.8rem;
    }
/*Behalte und Löschen Button*/  
    .Buttons{
        display:flex;
        justify-content: center;
        margin-top: 2rem;
        .row-1{
            display: flex;
            max-height: 50%;
            width: 40%;
            vertical-align: center;
            align-items: flex-start;
            justify-content: space-between;




        }
        margin-bottom: 1rem;
    }

    .half:active {
        box-shadow: 0.33333334rem 0.33333334rem 0.6666667rem silver inset;
        transform: translateY(0.26666668rem);
    }

    .half{
        box-shadow: 0.33333334rem 0.33333334rem 0.6666667rem silver ;
        width: 6.6666665rem;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 0.06666667rem solid #707070;
        border-radius: 0.53333336rem;
        opacity: 1;
        height: 2.5rem;
        font: Regular 1.5333333rem Arimo;
        cursor: pointer;
    }

/* Fertig Button*/
    #doneDiv{
        display: flex;
        justify-content: center;
    #done{
        background: #5BC0BE 0% 0% no-repeat padding-box;
        min-width: 40%;
        justify-content: center;
        justify-self: center;
        
    }
    .button{
        box-shadow: 0.33333334rem 0.33333334rem 0.33333334rem silver ;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 0.06666667rem solid #707070;
        border-radius: 0.53333336rem;
        opacity: 1;
        height: 2.5rem;
    
        text-align: center;
        font: Regular 1.5333333rem/1.8rem Arimo;
        letter-spacing: 0;
        color: #3A506B;
        opacity: 1;
        cursor: pointer;
    
    }


    .button:active{
        background-color: #3e8e41;
        box-shadow: 0.33333334rem 0.33333334rem 0.6666667rem silver inset;
        transform: translateY(0.26666668rem);
    }

    

}

}
