$bluegrey: #0B132B;
$grey: #3A506B;
$red: #BA1919;
$warmGrey: #707070;
$turquoise: #5BC0BE;
$lightGrey: #687D9A;
$mediumBlue: #1C2541;
$lightBlue: #96B4DD;

.result {
    font-family: Hind Siliguri;

    .resultContainer {

        display: flex;
        flex-direction: column;
        align-items: center;

        .resultContentHeader {
            display: flex;
            width: 100%;

            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;

            .resultLeft {
                margin-left: 109px;
                margin-top: 34px;


                .resultSubject {
                    margin-right: 40px;
                    margin-top: 34px;
                    font-weight: bolder;
                    color: $bluegrey;
                    font-size: 60px;
                    font-weight: bolder;
                    font-family: Hind Siliguri;

                }

                .resultModule {
                    color: $grey;
                    font-weight: bolder;
                    font-size: 32px;
                }
            }

            .resultRight {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-right: 248px;

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 6px;
                }

                .resultPoints {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $grey;
                    font-size: 16px;
                    font-weight: bolder;

                    &:first-child {
                        margin-right: 26px;
                    }

                    p {
                        margin: 10px 0;
                    }
                }
            }
        }

        .resultEvaluation {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            font-size: 40px;
            color: $grey;
            font-weight: normal;
            width: 900px;
            margin-top: 50px;

            p {
                margin: 0;
                font-size: 32px;
                color: $grey;

                span {
                    color: $grey;
                    font-size: 40px;
                }
            }
        }

        .resultPointcount {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            width: 900px;
            margin-top: 30px;

            .resultNewPoints {
                font-size: 60px;
                font-weight: bold;
                color: #1C2541 !important;

            }

            .resultWeeklyPoints {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                p {
                    font-size: 30px;
                    color: $grey;
                    font-weight: normal;

                    span {
                        font-size: 40px;
                    }
                }
            }
        }

        .resultQuestions {
            width: 900px;

            .resultQuestion {
                margin: 10px 0;
            }
        }
    }
}
