$bluegrey: #0B132B;
$grey: #3A506B;
$red: #BA1919;
$warmGrey: #707070;
$turquoise: #5BC0BE;
$lightGrey: #687D9A;
$mediumBlue: #1C2541;
$lightBlue: #96B4DD;

.result {
    font-family: Hind Siliguri;

    .resultContainer {

        display: flex;
        flex-direction: column;
        align-items: center;

        .resultContentHeader {
            display: flex;
            width: 100%;

            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;

            .resultLeft {
                margin-left: 7.266667rem;
                margin-top: 2.2666667rem;


                .resultSubject {
                    margin-right: 2.6666667rem;
                    margin-top: 2.2666667rem;
                    font-weight: bolder;
                    color: $bluegrey;
                    font-size: 4.0rem;
                    font-weight: bolder;
                    font-family: Hind Siliguri;

                }

                .resultModule {
                    color: $grey;
                    font-weight: bolder;
                    font-size: 2.1333334rem;
                }
            }

            .resultRight {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-right: 16.533333rem;

                img {
                    width: 1.3333334rem;
                    height: 1.3333334rem;
                    margin-right: 0.4rem;
                }

                .resultPoints {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $grey;
                    font-size: 1.0666667rem;
                    font-weight: bolder;

                    &:first-child {
                        margin-right: 1.7333333rem;
                    }

                    p {
                        margin: 0.6666667rem 0;
                    }
                }
            }
        }

        .resultEvaluation {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            font-size: 2.6666667rem;
            color: $grey;
            font-weight: normal;
            width: 60.0rem;
            margin-top: 3.3333333rem;

            p {
                margin: 0;
                font-size: 2.1333334rem;
                color: $grey;

                span {
                    color: $grey;
                    font-size: 2.6666667rem;
                }
            }
        }

        .resultPointcount {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            width: 60.0rem;
            margin-top: 2.0rem;

            .resultNewPoints {
                font-size: 4.0rem;
                font-weight: bold;
                color: #1C2541 !important;

            }

            .resultWeeklyPoints {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                p {
                    font-size: 2.0rem;
                    color: $grey;
                    font-weight: normal;

                    span {
                        font-size: 2.6666667rem;
                    }
                }
            }
        }

        .resultQuestions {
            width: 60.0rem;

            .resultQuestion {
                margin: 0.6666667rem 0;
            }
        }
    }
}
