@import './src/css/styles';

.result {
  font-family: HindSiliguri-Regular, sans-serif;

  .result-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .task-header {
      margin-bottom: 2.5rem;
      width: 90%;
    }

    .result-content-header {
      align-items: baseline;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .result-left {
        margin-left: 7.267rem;
        margin-top: 2.267rem;


        .result-subject {
          color: $color-bluegrey;
          font-family: HindSiliguri-Regular, sans-serif;
          font-size: 4rem;
          font-weight: bolder;
          margin-right: 2.667rem;
          margin-top: 2.267rem;

        }

        .result-module {
          color: $color-grey;
          font-size: 2.133rem;
          font-weight: bolder;
        }
      }

      .result-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 16.533rem;

        img {
          height: 1.333rem;
          margin-right: 0.4rem;
          width: 1.333rem;
        }

        .result-points {
          align-items: center;
          color: $color-grey;
          display: flex;
          flex-direction: row;
          font-size: 1rem;
          font-weight: bolder;

          &:first-child {
            margin-right: 1.733rem;
          }

          p {
            margin: 0.667rem 0;
          }
        }
      }
    }

    .result-evaluation {
      align-items: baseline;
      color: $color-grey;
      display: flex;
      flex-direction: row;
      font-size: 2.667rem;
      font-weight: normal;
      justify-content: space-between;
      width: 60rem;

      p {
        color: $color-grey;
        font-size: 2.133rem;
        margin: 0;

        span {
          color: $color-grey;
          font-size: 2.667rem;
        }
      }
    }

    .result-pointcount {
      align-items: baseline;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2rem;
      width: 60rem;

      .result-new-points {
        color: $color-dark !important;
        font-size: 4rem;
        font-weight: bold;

      }

      .result-weekly-points {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
          color: $color-grey;
          font-size: 2rem;
          font-weight: normal;

          span {
            font-size: 2.667rem;
          }
        }
      }
    }

    .result-questions {
      width: 60rem;

      .result-question {
        margin: 0.667rem 0;
      }
    }
  }
}
