@import './src/css/styles';

.difficulty-label {
  border-radius: 1rem;
  border-style: solid;
  border-width: 1px;
  color: $color-dark;
  height: 1.5rem;
  padding: 0 0.5rem;
  text-align: center;
  width: 3rem;
}
