@import './src/css/styles';

.difficulty-label {
  align-items: center;
  border-radius: 1rem;
  border-style: solid;
  border-width: 1px;
  color: $color-dark;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  outline: none;
  padding: 0 1rem;
  text-align: center;
}
