@import './src/css/styles';

.add-teacher-report-component {
    border: 0.06666667rem solid #707070;
    border-radius: 0.6666667rem;
    font: Regular 1.3333334rem/1.5333333rem Arimo;
    height: 6.6666665rem;
    left: 50%;
    margin-bottom: 1.3333334rem;
    padding-left: 0.6666667rem;
    position: relative;
    transform: translate(-50%, 0%);
    width: 66.666664rem;
  
    .clickable:hover {
      cursor: pointer;
    }
  
    .clickable:focus {
      outline: none;
    }
  }