@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,500&display=swap');
@import './src/css/styles';

.button {
  border: 3px solid $color-turquoise;
  border-radius: 8px;
  cursor: pointer;
  font: Medium 26px/42px HindSiliguri-Regular, sans-serif;
  font-size: 26px;
  height: 3.13rem;
  letter-spacing: 0;
  outline: none;
  text-align: center;
  transition: 0.2s;
  width: 9.38rem;
}

.primary {
  background-color: $color-primary;
  color: #0b132b;

  :hover {
    background-color: rgba(91, 192, 190, 0.8);
  }
}

.secondary {
  background-color: transparent;
  border-color: $color-warmGrey;
  color: $color-warmGrey;

  :hover {
    background-color: rgba(91, 192, 190, 0.2);
  }
}

.unset {
  background-color: $color-warmGrey;
  border-color: $color-warmGrey;
  color: #000;
}

.disabled {
  background-color: $color-warmGrey;
  border-color: $color-lightGrey;
  color: $color-grey;
  pointer-events: none;
}

.warning {
  background-color: rgba(255, 0, 0, 0.3);
  border-color: #f00;
  color: #f00;
}
