@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,500&display=swap');
@import './src/css/styles';

.button {
  border: 3px solid #5bc0be;
  border-radius: 10px;
  font: Medium 26px/42px Hind Siliguri;
  font-size: 26px;
  height: 50px;
  letter-spacing: 0;
  text-align: center;
  transition: 0.2s;
  width: 150px;

  :hover {
    cursor: pointer;
  }

  :focus {
    outline: none;
  }
}

.primary {
  background-color: $color-primary;
  color: #0b132b;

  :hover {
    background-color: rgba(91, 192, 190, 0.8);
  }
}

.secondary {
  background-color: transparent;
  color: #5bc0be;

  :hover {
    background-color: rgba(91, 192, 190, 0.2);
  }
}

.disabled {
  background-color: $color-warmGrey;
  border-color: $color-lightGrey;
  color: $color-grey;
  pointer-events: none;
}
