@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,500&display=swap');
@import './src/css/styles';
.button{
  text-align: center;
  font: Medium 26px/42px Hind Siliguri;
  font-size: 26px;
  letter-spacing: 0;
  height: 50px;
  width: 150px;
  border: 3px solid #5BC0BE;
  border-radius: 10px;
  transition: 0.2s;
}
.button:hover{
  cursor: pointer;
}
.button:focus{
  outline: none;
}
.primary{
  background-color: $color-primary;
  color: #0B132B;
}
.primary:hover{
  background-color: rgba(91, 192, 190, 0.8);
}
.secondary{
  background-color: transparent;
  color: #5BC0BE;
}
.secondary:hover{
  background-color: rgba(91, 192, 190, 0.2);
}
.disabled{
  background-color: $color-grey;
  border-color: $color-grey;
  pointer-events: none;
}