.settings {
  position: relative;
  left: 2.333333rem;
  top: 8rem;
  width: 46.666666rem;

  .settingsContent {
    position: relative;
    color: #3A506B;
    left: 150px;
    top: 120px;
  }

  .topic {
    font-size: 25px;
  }
}