@import './src/css/styles';

.settings {
  margin-left: 10%;
  width: 80%;

  .header {
    margin-top: 2rem;

    span {
      color: $color-bluegrey;
      font-size: 4rem;
    }
  }

  .flex-row-box {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .flex-column-box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .content {
    margin: 4rem 0 0;

    .left {
      width: 50%;

      .labels {
        .text-label {
          margin-top: 1rem;
        }
      }

      .inputs {
        .input {
          margin-top: 1rem;
        }
      }

      .get-account-data {
        margin-top: 1.5rem;
      }
    }

    .labels {
      span {
        color: $color-grey;
        font-size: 1.5rem;
      }
    }

    .inputs {
      .text-input,
      .multi-input {
        margin-left: 2rem;
      }
    }

    .delete-data {
      margin-top: 1rem;
    }
  }

  .actions {
    bottom: 2.69rem;
    position: absolute;
    right: 10%;

    .save {
      margin-left: 2rem;
    }
  }
}
