@import './src/css/styles';

.add-teacher-text-content {
  font: Medium 4rem/6.4666667rem Hind Siliguri;
  height: 3.3333333rem;
  padding: 0;
  position: relative;
  width: 26.666666rem;
}

.add-teacher-invalid {
  background-color: transparent;
  box-shadow: inset 0 0 0.33333334rem 0 rgba(255, 0, 0, 1);
}
