@import './src/css/styles';

.report-component {
  border: 0.05rem solid $color-warmGrey;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  font: Regular 1.33rem/1.5rem Arimo;
  height: 8rem;
  justify-content: center;
  margin-bottom: 1.5rem;
  position: relative;
  width: 66.7rem;
  
  .react-modal {
    left: 0;
    top: 0;
  }
  
  
  .info-icon:hover {
    cursor: pointer;
  }
  
  .animate-modal-overlay-enter-done,
  .react-modal-overlay {
    background: none;
  }
}

.teacher-name {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  right: 0;
  width: 400px;
}

.messages-count {
  align-items: center;
  display: flex;
}
