@import './src/css/styles';

.subject {
    border: 1px solid #707070;
    border-radius: 13px;
    display: flex;
    height: 180px;
    margin: 1.2rem 2rem 1.2rem 3rem;
    padding-bottom: 0.5rem;
    width: 340px;

    .image {
      align-items: center;
      border: 1px solid #5bc0be;
      border-radius: 50px;
      display: flex;
      height: 45px;
      justify-content: center;
      margin: 0.5rem 0 0 0.8rem;
      width: 45px;

      .icon {
        height: 30px;
        width: 30px;
      }
    }

    .box-content {
      display: flex;
      flex-direction: column;
      height: 80%;
      justify-content: flex-start;
      margin-left: 0.8rem;
      margin-top: 0.65rem;
      width: 70%;

      .subject-name {
        color: #0b132b;
        font-family: Hind Siliguri;
        font-size: 28px;
        letter-spacing: 0;
        margin: 0;
        text-align: left;
      }

      .under-name {
        color: #3a506b;
        font-size: 0.8rem;
        letter-spacing: 0;
        margin-top: -0.5rem;
        opacity: 1;
        text-align: left;
      }

      .points {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .user-points,
        .community-points {
          display: flex;
          flex-direction: row;
          width: 50%;

          .point-text {
            margin-left: 0.4rem;
          }

        }

        span {
          align-items: center;
          display: flex;
          font-size: 13px;
          font-weight: 500;
          white-space: nowrap;
        }
      }

      .weekend-task {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 0.8rem;
        margin-top: 1rem;

        span {
          font-size: 13px;
          font-weight: 500;
          margin-left: 8px;
          white-space: nowrap;
        }

        .calender {
          height: 1.8rem;
          width: 1.8rem;
        }
      }

      .points {
        display: flex;
      }

      .flex-row {
        display: flex;
        flex-direction: row;
      }
    }
  }