.correctionBox{
    border: 1px solid #707070;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 117px;
    width:971px;
    margin: 35px;
    

    .correctionBoxHeader{
        display:flex;
        flex-direction:row;
        color:#1C2541;
        font-weight:normal;
        font-size:20px;
        margin-top:5px;
        margin-left:18px;
        align-items:center;
        justify-content: space-between;
        margin-right:17px;
        .correctionDifficulty{
            font-size:16px;
            text-align:center;
            background-color:#19BA3F62;
            border: 1px solid #19BA3F;
            width:70px;
            height:25px;
            border-radius:13px;
            p{
                padding:0;
                margin:0;
            }
        }
    }
    .correctionBoxBottom{
        display:flex;
        flex-direction:row;
     
        color:#1C2541;
        font-size:20px;
        width:100%;
        justify-content:space-between;
        align-items:baseline;
        .correctionPupil{
            display:flex;
            flex-direction:row;
            align-items:center;
            margin-left:20px;
        
        }
        .correctionDate{
            display:flex;
            flex-direction:row;
            align-items:center;

            


        }
        .correctionCorrect{
            display:flex;
            flex-direction:row-reverse;
            align-items:center;
            margin-right:20px;
            


        }
        img{
            width:20px;
            height:20px;
            color:#1C2541;
            
        }
        p{
            margin:0;
            padding:2px;
        }

    }

}