@import './src/css/styles';

.icon-button {
    display: flex;
    align-items: center;
    margin-right: 20px;
    right: 0;
    justify-content: flex-end;
    cursor: pointer;

    .text {
        width: 100%;
    }
}