@import './src/css/styles';

.correction {
  border-radius: 0.6rem;
  border-style: solid;
  border-width: 0.08rem;
  font-size: 1.0666667rem;
  height: 1.6666666rem;
  text-align: center;
  width: 4.6666665rem;

  p {
    margin: 0;
    padding: 0;
  }
}
