@import './src/css/styles';

.imprint {
  align-items: center;
  display: flex;
  flex-direction: column;

  .heading-font {
    color: #0b132b;
    font-family: Hind Siliguri;
    font-size: 5.3333335rem;
    opacity: 1;
    text-align: left;
    width: 50vw;
  }

  .font-box {
    color: #0b132b;
    font: Hind Siliguri;
    font-size: 1.3333334rem;
    letter-spacing: 0;
    margin-top: 0.33333334rem;
    margin-top: 0.33333334rem;
    opacity: 1;
    text-align: left;
    width: 50vw;
  }

  .underline {
    text-decoration: underline;
  }
}
