.imprint {
    display: flex;
    flex-direction: column;
    align-items: center;

    .headingFont {
        text-align: left;
        font-family: Hind Siliguri;
        font-size: 5.3333335rem;
        color: #0b132b;
        opacity: 1;
        width: 50vw;
    }

    .fontBox {
        margin-top: 0.33333334rem;
        margin-top: 0.33333334rem;
        text-align: left;
        font: Hind Siliguri;
        font-size: 1.3333334rem;
        letter-spacing: 0;
        color: #0b132b;
        opacity: 1;
        width: 50vw;
    }

    .underline {
        text-decoration: underline;
    }
}
