

.imprint {

	.headingFont {
		margin-left: 19%;
		margin-top: 133px;
		width: 381px;

		text-align: left;
		font-family: Hind Siliguri;
		font-size: 80px;
		color: #0b132b;
		opacity: 1;
	}

	.fontBox {
		margin-top: 5px;
		margin-left: 19%;
		margin-top: 5px;
		width: 659px;
		height: 659px;

		text-align: left;
		font: Hind Siliguri;
		font-size: 20px;
		letter-spacing: 0;
		color: #0b132b;
		opacity: 1;
	}
	
	.font12px{
		font-size: 12px;
	}
	.underline{
		text-decoration: underline;
	}
}
