$Primary: #0b132b;
$Second: #5bc0be;

.headerNavbar {
    align-items: center;
    background: $Primary 0% 0% no-repeat padding-box;
    display: flex;
    height: 5.3333335rem;
    justify-content: space-between;
    left: 0.0rem;
    position: fixed;
    top: 0.0rem;
    width: 100%;
    z-index: 3;

    .logo {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-left: 3.0rem;

        #logoImg {
            height: 90%;
            width: 2.4rem;
        }
    }
	a{
		height: 100%;
	}

    #title {
        color: $Second;
        font: Bold 2.9333334rem/4.733333rem Hind Siliguri;
        letter-spacing: 0;
        margin: 0;
        padding-left: 2.0rem;
        text-align: left;
        z-index: 22;
    }

    .BTN_Log {
        background-color: Transparent;
        border: 2px solid $Second;
        border-radius: 10px;
        font: 22px/42px Hind Siliguri;
        font-weight: 400;
        max-height: 30px;
        padding: 2.5px 26.21px;
        text-decoration: none;
        width: 159px;
    }

    #Button_Login {
        background-color: $Second;
        color: #0b132b;
        margin-right: 3.7333333rem;
        padding: 2.5px 40px;
        transition: all 0.5s;
    }

    #Button_Register {
        color: $Second;
        transition: all 0.2s;
    }

    #Button_Box_Landing {
        margin-right: 6.4rem;
    }

    #Button_Login:hover {
        background-color: rgba(91, 192, 190, 0.8);
        cursor: pointer;
    }

    #Button_Register:hover {
        background-color: rgba(91, 192, 190, 0.3);
        cursor: pointer;
    }

    #Button_Login:focus {
        outline: none;
    }

    #Button_Register:hover {
        background-color: rgba(91, 192, 190, 0.3);
        cursor: pointer;
    }

    #Button_Register:focus {
        outline: none;
    }

    #Button_Box_Dashbord {
        margin-right: 6.4rem;
    }

    #Button_Box_Dashboard {
        margin-right: 6.4rem;
    }

    .BTN_Dash {
        background-color: transparent;
        border: none;
        color: $Second;
        margin: 0 1rem;
    }

    #Button_Info:hover {
        cursor: pointer;
    }

    #Button_Logout:hover {
        cursor: pointer;
    }

    #Button_Info:focus {
        outline: none;
    }

    #Button_Logout:focus {
        outline: none;
    }
}
