$Primary: #0b132b;
$Second: #5bc0be;

.headerNavbar {
	position: fixed;
	z-index: 3;
	display: flex;
	justify-content: space-between;
	top: 0.0rem;
	left: 0.0rem;
	width: 100%;
	height: 5.3333335rem;
	background: $Primary 0% 0% no-repeat padding-box;
	align-items: center;

	.logo{
		margin-left: 3.0rem;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#title {
		z-index: 22;
		margin: 0;
		padding-left: 2.0rem;
		text-align: left;
		font: Bold 2.9333334rem/4.733333rem Hind Siliguri;
		letter-spacing: 0;
		color: $Second;
	}
	.BTN_Log {
		max-height: 30px;
		width: 159px;
		border: 2px solid $Second;
		border-radius: 10px;
		font: 22px/42px Hind Siliguri;
		font-weight: 400;
		background-color: Transparent;
		text-decoration: none;
		padding: 2.5px 26.21px;
	}
	#Button_Login {
		color: #0b132b;
		background-color: $Second;
		margin-right: 3.7333333rem;
		transition: all 0.5s;
		padding: 2.5px 40px;
	}
	#Button_Register {
		color: $Second;
		transition: all 0.2s;
	}
	#Button_Box_Landing {
		margin-right: 6.4rem;
	}
	#Button_Login:hover {
		cursor: pointer;
		background-color: rgba(91, 192, 190, 0.8);
	}
	#Button_Register:hover {
		cursor: pointer;
		background-color: rgba(91, 192, 190, 0.3);
	}
	#Button_Login:focus {
		outline: none;
	}
	#Button_Register:hover {
		cursor: pointer;
		background-color: rgba(91, 192, 190, 0.3);
	}
	#Button_Register:focus {
		outline: none;
	}
	#Button_Box_Dashbord {
		margin-right: 6.4rem;
	}
	#Button_Box_Dashboard {
		margin-right: 6.4rem;
	}
	.BTN_Dash {
		margin: 0 1rem;
		background-color: transparent;
		border: none;
		color: $Second;
	}
	#Button_Info:hover {
		cursor: pointer;
	}
	#Button_Logout:hover {
		cursor: pointer;
	}
	#Button_Info:focus {
		outline: none;
	}
	#Button_Logout:focus {
		outline: none;
	}
}
