$color-bluegrey: #0b132b;
$color-grey: #3a506b;
$color-red: #ba1919;
$color-warmGrey: #707070;
$color-turquoise: #5bc0be;
$color-turquoise-light: #a4f2f0;
$color-lightGrey: #687d9a;
$color-mediumBlue: #1c2541;
$color-lightBlue: #96b4dd;
$color-dark: #1c2541;
$color-primary: #5bc0be;
