body {
    font-size: 15px !important;
    font-family: monospace !important;
    width: 100% !important;
    height: 100% !important;

    input {
        border: 2px solid #1C2541;
        border-radius: 10px;
    };
}

.text-greenBlue {
    color: #5BC0BE !important;
}

.text-dark {
    color: #0B132B !important;
}