@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;700&display=swap");
body {
  font-size: 15px !important;
  font-family: 'Hind Siliguri', sans-serif !important;
  width: 100% !important;
  height: 100% !important;
}

body input {
  border: 2px solid #1c2541;
  border-radius: 10px;
}

.text-greenBlue {
  color: #5bc0be !important;
}

.text-dark {
  color: #0b132b !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
