@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap%22");
body {
  font-size: 15px !important;
  font-family: 'Hind Siliguri', sans-serif !important;
  width: 100% !important;
  height: 100% !important;
}

body input {
  border: 2px solid #1c2541;
  border-radius: 10px;
}

.font-Arimo {
  font-family: "Arimo", sans-serif !important;
}

.text-greenBlue {
  color: #5bc0be !important;
}

.text-dark {
  color: #0b132b !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
}

.resultContentHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.resultContentHeader .resultLeft {
  margin-left: 109px;
}

.resultContentHeader .resultLeft .resultSubject {
  margin-right: 40px;
  margin-top: 34px;
  font-weight: bolder;
  color: #0B132B;
  font-size: 60px;
}
