@import './src/css/styles';

.menu {
  align-items: center;
  background: #0b132b 0 0 no-repeat padding-box;
  display: flex;
  flex-direction: column;
  font-family: HindSiliguri-Regular, sans-serif;
  height: 100%;
  justify-content: space-between;
  left: 0;
  opacity: 1;
  position: fixed;
  text-align: center;
  top: 0;
  width: 7.667rem;

  .icon-size {
    height: 1.6rem;
    width: 1.6rem;
  }

  .top-icons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6.667rem;
  }

  .bottom-icons {
    margin-bottom: 1.333rem;
  }
}
