.correctionContent{
    
    .correctionHeader{
        display:flex;
        flex-direction:row;
        
        margin-top:7.6rem;
        
        align-items: center;
        justify-content:space-between;
        width:100%;
        
        h1{
            color:#0B132B;
            font-size:4.0rem;
            font-weight:bold;
            margin-left:14.933333rem;
        }
        .correctionMode{
            background-color:#5BC0BE;
            border-radius:0.6666667rem;
            border: 0.2rem solid #5BC0BE;
            width: 19.066668rem;
            height: 3.3333333rem;
            color:#0B132B;
            font-size:1.7333333rem;
            font-weight:bolder;
            text-align:center;
            margin-right:13.3333333rem;
        }

    }
    .correctionQuestionBox{
        padding:18.066668rem;
        margin-left:13.666667rem;
        margin-top:0;
        padding-top:0;
        margin-right:31.6rem;
        width:64.73333rem;
        

    }
   

}
