

.correctionContent{
    
    .correctionHeader{
        display:flex;
        justify-content: space-between;
        margin-top:7.6rem;
        
        align-items: center;

        h1{
            color:#0B132B;
            font-size:4.0rem;
            font-weight:bold;
            margin-left:6rem;
        }
        .correctionMode{
            background-color:#5BC0BE;
            border-radius:0.6666667rem;
            border: 0.2rem solid #5BC0BE;
            width: 19.066668rem;
            height: 3.3333333rem;
            color:#0B132B;
            font-size:1.7333333rem;
            font-weight:bolder;
            text-align:center;
            margin-right:6rem;
        }

    }
    .box{
        display:flex;
        text-align:center;
        width:100%;
        margin:0;
        flex-wrap:wrap;
        flex-direction: column;
        align-items: center;
    }

}
