.correctionContent{
    .correctionHeader{
        display:flex;
        flex-direction:row;
        float:left;
        
        h1{
            color:#0B132B;
            font-size:60px;
            font-weight:bold;
        }
        .correctionMode{
            background-color:#5BC0BE;
            border-radius:10px;
            border: 3px solid #5BC0BE;
            width: 286px;
            height: 50px;
            color:#0B132B;
            font-size:26px;
            font-weight:bolder;
            text-align:center;
        }

    }
    .correctionQuestionBox{

    }

}