body {
    font-family: Medium 80px/129px Hind Siliguri;
    a {
        text-decoration: none;
        color: #687d9a;
        transition: all 0.2s;
    }

    p {
        color: #687d9a;
        transition: all 0.2s;
    }

    a:hover {
        color: #5bc0be;
    }
    a:focus {
        outline: none;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
/* 
*white bachgroundcanvas
*/
.box {
    width: 38%;
    height: 35%;
    padding: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: center;
    border-radius: 4px;
    color: #000033;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    -o-box-shadow: 0 0 10px #888;

    /*field that displays the text and all buttons and input-fields of the login*/
    .box-inhalt {
        margin-top: -10%;
    } /*sets size and form of the input-boxes for password and email*/
    .input-box {
        border-radius: 6px;
        padding: 4px;
        outline: none;
        border: 1px solid #000033;
        width: 100%;
        box-sizing: border-box;
        margin: 10px 0;
        /*sets size of the actual inputfields in the input-boxes*/
        input {
            width: 100%;
            border: none;
            outline: none;
            background: transparent;
        }
    }
    /*sets the form and size of all buttons*/
    .button {
        border-radius: 6px;
        padding: 4px;
        outline: black;
        border: 1px solid #000033;
        margin: 10px auto;
        width: 70%;

        background: none;
    }

    // --------------- Basti --------------
    .input-box-initial {
        display: none;
    }

    .roleBtn {
        display: flex;
        .btn-specialButton {
            flex-grow: 1;
        }
    }

    .btn-group button {
        border: 1px solid #000033;
        border-left: none;
        padding: 10px 24px;
        cursor: pointer;
        width: 45%;
    }

    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }

    .btn-group :first-child {
        border: 1px solid #000033;
        border-radius: 6px 0 0 6px;
    }

    .btn-group :last-child {
        border-radius: 0 6px 6px 0;
    }

    .btn-group button:not(:last-child) {
        border-right: none; /* Prevent double borders */
    }

    .btn-group button:hover {
        background-color: #5bc0be;
    }

    .btn-UI-container {
        margin-top: 38px;
    }

    .btn-UI {
        margin: 5%;
        width: 40%;
        height: 38px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 2px solid #303030;
        border-radius: 20px;
        opacity: 1;
        cursor: pointer;
    }

    .btn-weiter {
        background-color: #5bc0be;
    }

    // --------------- Basti ENDE

    /*sets position of the headline "LOGIN"*/
    #Headline {
        text-align: center;
        font: Medium 80px/129px Hind Siliguri;
        letter-spacing: 24px;
        color: #0b132b;
        opacity: 1;
        text-transform: uppercase;
    }
    /*sets size and color of the login-button*/
    #login {
        background: #00b3b3;
        margin: 10px auto;
        border: none;
        width: 70%;
    }
    /*sets the size of the google-icon in the google-login-field*/
    #googleBild {
        width: 15px;

        padding: none;
    }
    /*describes the field for the google-login*/
    #google-login {
        width: 70%;
        background: none;
        margin: 10px auto;
        font-family: ubuntuLight;
        border-radius: 10px;
        padding: 4px;
        outline: black;

        border: 1px solid #000033;
    }
    /*sets the position of the two eye-icons in the password-field*/
    .eye {
        position: absolute;
        right: 20%;
    }
    /*icon of the non-slashed eye; sets the passwordvisibility of non-visible*/
    #hide1 {
        display: none;
    }
}
