@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap");

div.register {
    padding: 1rem;

    form {
        margin-top: 7rem;
        font-family: "Hind Siliguri", sans-serif;

        //font-family: Medium 5.3333335rem/8.6rem Hind Siliguri;
        a {
            text-decoration: none;
            transition: all 0.2s;
            margin: 0 0.2rem;
            color: #0b132b;
        }

        p {
            color: #0b132b;
            transition: all 0.2s;
        }

        a:hover {
            color: #5bc0be;
        }

        a:focus {
            outline: 0;
            color: #5bc0be;
        }
    }

  /*
  * white bachgroundcanvas
  */
    .box {
        width: 50vw;
        height: 35vh;
        padding: 0;
        background: white;
        text-align: center;
        border-radius: 0.26666668rem;
        color: #000033;
        //-moz-box-shadow: 0 0 0.6666667rem #888;
        //-webkit-box-shadow: 0 0 0.6666667rem #888;
        //box-shadow: 0 0 0.6666667rem #888;
        //-o-box-shadow: 0 0 0.6666667rem #888;

        // error class for form validation

        /*field that displays the text and all buttons and input-fields of the login*/
        .box-inhalt {
            text-align: center;
            margin-top: -10%;
        }

        /*sets size and form of the input-boxes for password and email*/
        .input-box {
            border-radius: 0.4rem;
            padding: 0.26666668rem;
            outline: none;
            border: 0.06666667rem solid #000033;
            width: 100%;
            box-sizing: border-box;
            margin: 0.6666667rem 0;
            display: flex;
            justify-content: center;
            align-items: center;

            /*sets size of the actual inputfields in the input-boxes*/
            input {
                width: 100%;
                border: none;
                outline: none;
                background: transparent;
            }
        }

        .eye {
            cursor: pointer;
            max-height: 20.26666668rem;
        }

        /*sets the form and size of all buttons*/
        .button {
            border-radius: 0.4rem;
            padding: 0.26666668rem;
            outline: black;
            border: 0.06666667rem solid #000033;
            margin: 0.6666667rem auto;
            width: 70%;

            background: none;
        }

        /* --------------- Basti -------------- */
        .input-box-initial {
            display: none;
        }

        .roleBtn {
            display: flex;

            .btn-specialButton {
                flex-grow: 1;
            }

            .btn-specialButton:focus {
                background-color: #5bc0be;
                outline: 0em;
            }
        }

        .btn-group button {
            border: 0.06666667rem solid #000033;
            background-color: white;
            border-left: none;
            padding: 0.6666667rem 20.26666668rem;
            cursor: pointer;
            width: 45%;
        }

        .btn-group:after {
            content: "";
            clear: both;
            display: table;
        }

        .btn-group :first-child {
            border: 0.06666667rem solid #000033;
            border-radius: 0.4rem 0 0 0.4rem;
        }

        .btn-group :last-child {
            border-radius: 0 0.4rem 0.4rem 0;
        }

        .btn-group button:not(:last-child) {
            border-right: none; /* Prevent double borders */
        }

        .btn-group button:hover {
            background-color: #5bc0be;
        }

        .btn-UI-container {
            margin-top: 0.4rem;
        }

        .btn-UI {
            margin-left: 1.2rem;
            margin-right: 1.2rem;
            margin-top: 0.13333334rem;
            width: 15.333333rem;
            height: 3.2666667rem;

            background: #ffffff 0% 0% no-repeat padding-box;
            border: 0.13333334rem solid #303030;
            border-radius: 1.3333334rem;
            opacity: 1;
            cursor: pointer;

            text-align: center;
            font: Regular 30.13333334rem/1.8666667rem Arimo;
            letter-spacing: 0.031999998rem;
            color: #0b132b;
            opacity: 1;
        }

        .btn-weiter {
            background-color: #5bc0be;
        }

        .btn-Base {
            opacity: 1;
            background-color: #5bc0be;
        }

        .btn-Disabled {
            background-color: #5bc0be;
            opacity: 0.3;
        }

        /* --------------- Basti ENDE --------------- */

        /*sets position of the headline "LOGIN"*/
        #Headline {
            text-align: center;
            font-family: Hind Siliguri;
            font-weight: 500;
            font-size: 30.13333334rem;
            letter-spacing: 20.26666668rem;
            color: #0b132b;
            opacity: 1;
            text-transform: uppercase;
        }

        /*icon of the non-slashed eye; sets the passwordvisibility of non-visible*/
        #hide1 {
            display: none;
            margin: 0;
            padding: 0;
        }

        .checkContainer p {
            display: flex;
            align-items: center;
            justify-content: center;

            .privacycheck {
                appearance: none;
                -webkit-appearance: none;
                background: #ffffff 0% 0% no-repeat padding-box;
                border: 0.13333334rem solid #0b132b;
                border-radius: 0.6666667rem;
                opacity: 1;
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 1rem;
            }

            .privacycheck:checked {
                background: #5bc0be 0% 0% no-repeat padding-box;
            }

            input:focus {
                outline: none;
            }
        }

        .input-field {
            text-align: left;
            font: Italic 1.3333334rem/1.9333333rem Arimo;
            letter-spacing: 0.033333335rem;
            color: #0b132b;
            opacity: 1;
        }

        .input-field::placeholder {
            text-align: left;
            font: Italic 1.3333334rem/1.9333333rem Arimo;
            letter-spacing: 0.033333335rem;
            color: #0b132b;
        }
    }

    @media only screen and (max-width: 55.333332rem) {
        .box {
            #Headline {
                text-align: center;
                font-family: Hind Siliguri;
                font-weight: 500;
                font-size: 1.3333334rem;
                letter-spacing: 0.25rem;
                color: #0b132b;
                opacity: 1;
                text-transform: uppercase;
            }

            .btn-UI-container {
                margin-top: 0.13333334rem;
            }

            .btn-UI {
                margin: 0.2rem;
            }

            height: 20.0rem;
        }
        .checkContainer p {
            font-size: 10.13333334rem;

            .privacycheck {
                min-width: 1.3333334rem;
                min-height: 1.3333334rem;
            }

            white-space: pre-line;
        }
        height: 30.0rem;
    }

    @media only screen and (max-width: 40.0rem) {
        .box {
            width: 10rem;
            height: 20.0rem;

            .btn-UI {
                max-width: 5rem;
                max-height: 2rem;
                margin: 0.2rem;
                border-radius: 10.13333334rem;
            }

            .roleBtn {
                .btn-specialButton {
                    padding: 0.13333334rem;
                    font-size: 0.6666667rem;
                }
            }

            .btn-UI-container {
                margin-top: 0.13333334rem;
            }

            .checkContainer p {
                font-size: 0.53333336rem;
            }
        }
    }
}
