@import './src/css/styles';

.register {
  height: 31rem;
  width: 35rem;

  .header {
    margin-left: 10%;
    margin-top: 1rem;
    width: 80%;

    span {
      color: $color-bluegrey;
      font-size: 4rem;
    }
  }

  .register-content {
    margin-left: 10%;
    width: 80%;

    .inputs .text-input {
      margin-top: 1rem;

      &:first-child {
        margin-top: 2rem;
      }
    }

    .actions {
      margin-top: 1.5rem;

      input {
        margin-top: 0.8rem;
      }

      span {
        margin-left: 0.6rem;
      }
    }

    .account-type {
      justify-content: space-between;
      margin-top: 1rem;
      width: 100%;
    }

    .submit-region {
      align-items: flex-end;
      justify-content: space-around;
      margin-top: 1.5rem;
      width: 100%;
    }
  }

  .flex-row-box {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .flex-column-box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
