@import '../../../css/styles';

.teacher-request {
  border: 0.07666rem solid #707070;
  border-radius: 0.666rem;

  display: flex;

  left: 50%;
  margin-bottom: 1rem;
  max-height: 6.7rem;
  max-width: 66.6rem;
  min-height: 4.7rem;
  padding: 10px 0.7rem;
  position: relative;
  transform: translate(-50%, 0%);
  width: 100%;

  .teacher-infos {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .teacher-info {
      align-items: center;
      align-self: center;
      display: flex;
      margin-bottom: 0.6rem;
      margin-top: 0.6rem;
      width: 100%;

      span {
        margin-left: 10px;
        white-space: pre-wrap;
        word-break: break-all;
      }
    }
  }

  .request-actions {
    align-items: flex-end;
    display: flex;
    flex: 1; // fill rest
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .request-action {
      display: flex;
      margin-top: 0.5rem;
      padding: 2px;

      span {
        margin-right: 0.2rem;
      }

      div {
        height: 25px; // limit icon size
      }
    }
  }
}
