@import './src/css/styles';

.footer-navbar {
  align-items: center;
  background-color: $color-bluegrey;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 6.813rem;
  justify-content: space-between;
  left: 0;
  width: 100vw;

  a {
    color: $color-turquoise;
    padding: 0 1rem;
    text-decoration: none;
    transition: all 0.2s;
  }

  a:hover {
    color: $color-turquoise-light;
  }

  a:focus {
    outline: none;
  }

  span {
    color: $color-turquoise;
  }

  .copyright {
    margin-right: 5.125rem;

    span {
      color: #fff;
    }
  }

  .legal {
    margin-left: calc(5.125rem - 0.063rem);
  }
}
