$Primary: #0b132b;
$Second: #5bc0be;

.FooterNavbar {
	align-items: center;
	background-color: $Primary;
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: 5.3333335rem;
	justify-content: center;
	left: 0;
	position: fixed;
	width: 100vw;

	a {
		color: #687d9a;
		padding: 0 1rem;
		text-decoration: none;
		transition: all 0.2s;
	}
	a:hover {
		color: $Second;
	}
	a:focus {
		outline: none;
	}
	span {
		color: #687d9a;
	}
	#Copyright {
		padding-top: 0.7rem;
	}
}
