$Primary: #0b132b;
$Second: #5bc0be;

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $Primary;
  padding: 1rem 0;

  div.group {
    padding: 0.7rem 0;

    &.nav {
      span {
        margin: 0 1rem;
      }
    }

    a {
      text-decoration: none;
      color: #687d9a;
      transition: all 0.2s;
    }

    a:hover {
      color: $Second;
    }

    a:focus {
      outline: none;
    }

    span {
      color: #687d9a;
    }
  }
}
