@import '../../../src/css/styles';

.page {
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 100%;
  width: available;

  @media (max-width: 30rem) {
    margin-left: 0;
    margin-right: 0;
  }
}
