@import '../../../css/styles';

.text-box {
  border: 0.133rem solid #1c2541;
  border-radius: 0.667rem;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;

  &:focus {
    outline: none; // Chrome
  }
}
