@import '../../../css/styles';

.text-box {
  border: 0.13333334rem solid #1c2541;
  border-radius: 0.6666667rem;

  box-sizing: border-box;
  padding: 5px;

  width: 100%;

  &:focus {
    outline: none; // Chrome
  }
}
