h1.ReportText-content {
  position: relative;
  font: Medium 4.0rem/6.4666667rem Hind Siliguri;
  padding: 0;
  margin-top: 8.0rem;
  left: 13.333333rem;
  width: 13.333333rem;
  height: 3.3333333rem;
}


.report-component{
  display: flex;
  margin-bottom: 1.3333334rem;
  flex-direction: column;
  border: 0.06666667rem solid #707070;
  border-radius: 0.6666667rem;
  width: 66.666664rem;
  height: 8.0rem;
  font: Regular 1.3333334rem/1.5333333rem Arimo;
  margin-left: 13.333333rem;
  
  .react-modal {
    top: 0;
    left: 0;
    
  }

  .reportcontainer .InfosRight {
    padding-top: 1.2rem;
  }

  .InfoIcon:hover {
    cursor: pointer;
  }

  .animate-modal-overlay-enter-done, .react-modal-overlay {
    background: none;
  }
}
