h1.ReportText-content {
  position: relative;
  font: Medium 4.0rem/6.5rem Hind Siliguri;
  padding: 0;
  margin-top: 8rem;
  left: 13rem;
  width: 13rem;
  height: 3rem;
}


.report-component{
  position: relative;
  display: flex;
  margin-bottom: 1.5rem;
  flex-direction: column;
  border: 0.05rem solid #707070;
  border-radius: 0.7rem;
  width: 66.7rem;
  height: 8rem;
  font: Regular 1.33rem/1.5rem Arimo;
  justify-content: center;

  .react-modal {
    top: 0;
    left: 0;

  }

  .reportcontainer .InfosRight {
    padding-top: 1.2rem;
  }

  .InfoIcon:hover {
    cursor: pointer;
  }

  .animate-modal-overlay-enter-done, .react-modal-overlay {
    background: none;
  }
}
