@import './src/css/styles';

.profile-certifikate {
  align-items: center;
  border: 1px solid $color-warmGrey;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 5.25rem;
  margin: 0.63rem 0.94rem;
  padding: 0;
  width: 25.75rem;
  
  .download-image {
    height: 27px;
    margin-left: 2.5rem;
    width: 27px;
  }
  
  .download-image:hover {
    cursor: pointer;
  }
    
  .certificates-row {
    margin: 0;
    width: 80%;
  
    .titel-certificate {
      color: $color-primary;
      display: flex;
      flex-direction: row;
      font-size: 1.733rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  
    .date-certificate {
      color: $color-bluegrey;
      display: flex;
      flex-direction: row;
      font-size: 1.066rem;
      margin: 0;
      padding: 0;
    }
  }
  
  .favorite-certificate {
    display: flex;
    flex-direction: row;
  }
  
  p {
    margin: 0.333rem 0 0 2.667rem;
  }
  
  .badge-title {
    margin-left: 0.31rem;
    white-space: nowrap;
  }
  
  .badge-image {
    margin-left: 0.667rem;
  }
}
