@import './src/css/styles';

.profile-certifikate {

  align-items: center;
  border: 1px solid #707070;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
  height: 84px;
  margin: 10px 15px;
  padding: 0;
  width: 412px;
  
  .download-image {
  
    height: 27px;
    margin-left: 2.5rem;
    width: 27px;
  
  }
  
  .download-image:hover {
    cursor: pointer;
  }
    
  .certificates-row {
    margin: 0;
    width: 80%;
  
    .titel-certificate {
      color: #5bc0be;
      display: flex;
      flex-direction: row;
      font-size: 1.7333333rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  
    .date-certificate {
      color: #0b132b;
      display: flex;
      flex-direction: row;
      font-size: 1.0666667rem;
      margin: 0;
      padding: 0;
    }
  }
  
  .favorite-certificate {
    display: flex;
    flex-direction: row;
  }
  
  p {
    margin: 0;
    margin-left: 2.6666667rem;
    margin-top: 0.33333334rem;
  }
  
  .badge-title {
    margin-left: 5px;
    white-space: nowrap;
  }
  
  .badge-image {
    margin-left: 0.6666667rem;
  }
}
