@import './src/css/styles';

.task {
  border: 0.067rem solid $color-warmGrey;
  border-radius: 0.533rem;
  height: 8rem;
  margin: 1.5rem 0.667rem;
  width: 65rem;

  .flex-column-box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .flex-row-box {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-items: center;
  }

  .task-head {
    color: $color-mediumBlue;
    font-size: 1.25rem;
    margin: 1rem 1rem 0;

    .task-head-elements {
      .task-element {
        padding: 0 1rem;
      }
    }

    span {
      padding: 0 0.3rem;
    }
  }

  .task-bottom {
    color: $color-grey;
    margin: 0 1rem;
    padding: 0.3rem 0.5rem;
  }
}
