@import './src/css/styles';

.task {
  border: 0.067rem solid $color-warmGrey;
  border-radius: 0.533rem;
  display: flex;
  flex-direction: column;
  height: 8rem;
  margin: 0.667rem;
  width: 65rem;

  .task-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 1rem 0;

    .task-head-elements {
      display: flex;
      flex-direction: row;

      .task-element {
        display: flex;
        flex-direction: row;
        padding: 0 1rem;

        span {
          padding: 0 0.3rem;
        }
      }
    }
  }

  .task-bottom {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
  }
}
