.privacy {
	/*Für die Privacy überschrift*/
	.headingFont {
		margin-left: 19%;
		margin-top: 133px;
		text-align: left;
		font-family: Hind Siliguri;
		font-size: 80px;
		opacity: 1;
	}

	/*Für die Textbox*/
	.fontBox {
		margin-top: 5px;
		margin-left: 19%;
		margin-top: 5px;
		width: 659px;
		height: 659px;

		text-align: left;
		font: Hind Siliguri;
		font-size: 20px;
		letter-spacing: 0;
		color: #0b132b;
		opacity: 1;
	}
}
