@import './src/css/styles';

.privacy {
  align-items: center;
  display: flex;
  flex-direction: column;

  .heading-font {
    font-family: HindSiliguri-Regular, sans-serif;
    font-size: 5.333rem;
    opacity: 1;
    text-align: left;
    width: 50vw;
  }

  .font-box {
    color: #0b132b;
    font: 1.33rem HindSiliguri-Regular, sans-serif;
    letter-spacing: 0;
    margin-top: 0.333rem;
    opacity: 1;
    text-align: left;
    width: 50vw;
  }
}
