$bluegrey: #0B132B;
$grey: #3A506B;
$red: #BA1919;
$warmGrey: #707070;
$turquoise: #5BC0BE;
$lightGrey: #687D9A;
$mediumBlue: #1C2541;
$lightBlue: #96B4DD;

#subjectTask {
    font-family: Hind Siliguri;
    margin-top: 114px;
    margin-left:14rem;


    .subjectTaskContainer {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;

        .subjectTaskContentHeader {
            display: flex;
            width: 100%;

            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;

            .subjectTaskLeft {
                margin-top: 34px;

                .subjectTaskSubject {
                    margin-top: 34px;
                    font-weight: bolder;
                    color: $bluegrey;
                    font-size: 60px;
                    font-weight: bolder;
                    font-family: Hind Siliguri;

                }

                .subjectTaskModule {
                    color: $grey;
                    font-weight: bolder;
                    font-size: 32px;
                    margin-left:2.5rem;
                }
            }

            .subjectTaskRight {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                img {
                    width: 20px;
                    height: 20px;
                }

                .subjectTaskPoints {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $grey;
                    font-size: 16px;
                    font-weight: bolder;

                    &:first-child {
                        margin-right: 26px;
                    }

                    p {
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    .progressDisplay {
        margin-top: 42px;
        width: 37.5rem;


        .progressBar {
            height: 5px;
            border: none;
            background-color: #FFE2E2;
            margin-right: 682px;
            width: 37.5rem;

            .progressPer {
                height: 5px;
                background-color: #5BC0BE;
                border: none;
                width: 40%;
            }
        }

        .subjectTaskTitel {
            margin-top: 73px;
            color: #3A506B;
            font-size: 32px;
            font-weight: normal;
        }

        .subjectTaskDescription {
            margin-top: 30px;
            color: #3A506B;
            font-size: 16px;
        }
    }

    .subjectTaskAnswer {
        font-size: 23px;
        display: flex;
        flex-direction: column;
        width: 37.5rem;
        align-items: center;

        .subjectTaskAnswerHeader {
           /* display: flex;
            flex-direction: row;
            */
            margin-right:auto;
            margin-top:1.6rem;
            justify-content: space-between;
            /*width: 37.5rem;*/
            width: 100%;

            
        }
        .subjectTaskAnswerfield {
            width: 100%;
            margin-top:1rem;

            input {
                border-radius: 8px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                /*width: 37.5rem;*/
                
                border: 1px solid #707070;
                width: 100%;
                height: 2rem;
                padding-left: 0.5rem;
            }
        }

        .subjectTaskButtons {
            height: 49px;
            width: 100%;
            
            margin-top:3.4rem;
            display:flex;
            flex-direction:row;
            
            justify-content:space-between;


            .subjectTaskSkip {
                width:13.4rem;
                background: none;
                font-size: 23px;
                font-weight: normal;
                border: 1px solid #707070;
                border-radius:8px;
                text-align:center;
               
                
            }

            .subjectTaskNext {
                width:13.4rem;
                background-color: #5BC0BE;
                border: 1px solid #707070;
                font-size: 23px;
                font-weight: normal;
                border-radius:8px;
                text-align:center;
                
            }

           
        }
    }
}

