$bluegrey: #0B132B;
$grey: #3A506B;
$red: #BA1919;
$warmGrey: #707070;
$turquoise: #5BC0BE;
$lightGrey: #687D9A;
$mediumBlue: #1C2541;
$lightBlue: #96B4DD;

#subjectTask {
    font-family: Hind Siliguri;


    .subjectTaskContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 80vw;

        .subjectTaskContentHeader {
            align-items: baseline;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            .subjectTaskLeft {
                padding-left: 4rem;
                /*margin-top: 34px;*/

                .subjectTaskSubject {
                    color: $bluegrey;
                    font-family: Hind Siliguri;
                    font-size: 60px;
                    font-weight: bolder;
                    margin-top: 34px;
                }

                .subjectTaskModule {
                    color: $grey;
                    font-size: 32px;
                    font-weight: bolder;
                    margin-left:2.5rem;
                }
            }

            .subjectTaskRight {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                img {
                    height: 20px;
                    width: 20px;
                }

                .subjectTaskPoints {
                    align-items: center;
                    color: $grey;
                    display: flex;
                    flex-direction: row;
                    font-size: 16px;
                    font-weight: bolder;

                    &:first-child {
                        margin-right: 26px;
                    }

                    p {
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    .progressDisplay {
        margin-top: 42px;
        width: 37.5rem;

        .progressBar {
            background-color: #FFE2E2;
            border: none;
            height: 5px;
            margin-right: 682px;
            width: 37.5rem;

            .progressPer {
                background-color: #5BC0BE;
                border: none;
                height: 5px;
                width: 40%;
            }
        }

        .subjectTaskTitel {
            color: #3A506B;
            font-size: 32px;
            font-weight: normal;
            margin-top: 73px;
        }

        .subjectTaskDescription {
            color: #3A506B;
            font-size: 16px;
            margin-top: 30px;
        }
    }

    .subjectTaskAnswer {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 23px;
        width: 37.5rem;

        .subjectTaskAnswerHeader {
           /* display: flex;
            flex-direction: row;
            */
            justify-content: space-between;
            margin-right:auto;
            margin-top:1.6rem;
            /*width: 37.5rem;*/
            width: 100%;

            
        }
        .subjectTaskAnswerfield {
            margin-top:1rem;
            width: 100%;

            input {
                border: 1px solid #707070;
                border-radius: 8px;
                display: flex;
                flex-direction: row;
                /*width: 37.5rem;*/
                
                height: 2rem;
                justify-content: space-between;
                padding-left: 0.5rem;
                width: 100%;
            }
        }

        .subjectTaskButtons {
            display:flex;
            flex-direction:row;
            height: 49px;
            justify-content:space-between;
            margin-top:3.4rem;
            width: 100%;

            .subjectTaskSkip {
                background: none;
                border: 1px solid #707070;
                border-radius:8px;
                font-size: 23px;
                font-weight: normal;
                text-align:center;
                width:13.4rem;
            }

            .subjectTaskNext {
                background-color: #5BC0BE;
                border: 1px solid #707070;
                border-radius:8px;
                font-size: 23px;
                font-weight: normal;
                text-align:center;
                width:13.4rem;
            }
        }
    }
}

