@import './src/css/styles';

.subject-task {
  font-family: HindSiliguri-Regular, sans-serif;


  .subject-task-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80vw;

    .subject-task-content-header {
      align-items: baseline;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .subject-task-left {
        padding-left: 4rem;

        .subject-task-subject {
          color: $color-bluegrey;
          font-family: HindSiliguri-Regular, sans-serif;
          font-size: 60px;
          font-weight: bolder;
          margin-top: 2.13rem;
        }

        .subject-task-module {
          color: $color-grey;
          font-size: 32px;
          font-weight: bolder;
          margin-left: 2.5rem;
        }
      }

      .subject-task-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
          height: 1.25rem;
          width: 1.25rem;
        }

        .subject-task-points {
          align-items: center;
          color: $color-grey;
          display: flex;
          flex-direction: row;
          font-size: 16px;
          font-weight: bolder;

          &:first-child {
            margin-right: 1.63rem;
          }

          p {
            margin: 0.63rem 0;
          }
        }
      }
    }
  }

  .progress-display {
    margin-top: 2.63rem;
    width: 37.5rem;

    .progress-bar {
      background-color: #ffe2e2;
      height: 5px;
      margin-right: 682px;
      width: 37.5rem;

      .progress-per {
        background-color: $color-primary;
        height: 5px;
        width: 40%;
      }
    }

    .subject-task-titel {
      color: $color-grey;
      font-size: 32px;
      font-weight: normal;
      margin-top: 73px;
    }

    .subject-task-description {
      color: $color-grey;
      font-size: 16px;
      margin-top: 30px;
    }
  }

  .subject-task-answer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    width: 37.5rem;

    .subject-task-answer-header {
      justify-content: space-between;
      margin-right: auto;
      margin-top: 1.6rem;
      width: 100%;
    }

    .subject-task-answerfield {
      margin-top: 1rem;
      width: 100%;

      input {
        border: 1px solid $color-warmGrey;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        height: 2rem;
        justify-content: space-between;
        padding-left: 0.5rem;
        width: 100%;
      }
    }

    .subject-task-buttons {
      display: flex;
      flex-direction: row;
      height: 49px;
      justify-content: space-between;
      margin-top: 3.4rem;
      width: 100%;

      .subject-task-skip {
        background: none;
        border: 1px solid $color-warmGrey;
        border-radius: 8px;
        font-size: 23px;
        font-weight: normal;
        text-align: center;
        width: 13.4rem;
      }

      .subject-task-next {
        background-color: $color-primary;
        border: 1px solid $color-warmGrey;
        border-radius: 8px;
        font-size: 23px;
        font-weight: normal;
        text-align: center;
        width: 13.4rem;
      }
    }
  }
}
