name: CodeStyle

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: CodeStyle
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: npm install
      - run: npm install -g react-scripts
      - run: npm run lint:eslint
      - run: npm run lint:prettier
      - run: npm run lint:style
