name: Linting

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Linting
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: npm install
      - run: npm install -g react-scripts
      - run: npm run lint
